<!-- <div class="parallax bg-white page-section">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-body">
                <h4 class="text-display-2 margin-none">Library</h4>
                <p class="text-light lead">Browse through thousands of lessons.</p>
            </div>

            <div class="media-right">
                <div class="width-100 text-right">
                    <div class="btn-group">
                        <a ng-class="{ 'btn-grey-900': $state.is('website-courses.grid'), 'btn-white': !$state.is('website-courses.grid') }" class="btn btn-white" ui-sref="website-courses.grid"><i class="fa fa-th"></i></a>
                        <a ng-class="{ 'btn-grey-900': $state.is('website-courses.list'), 'btn-white': !$state.is('website-courses.list') }" class="btn btn-white" ui-sref="website-courses.list"><i class="fa fa-list"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<alert ng-repeat="alert in alerts" type="<% alert.type %>" close="closeAlert($index)" dismiss-on-timeout='2500'>
    <%alert.msg%>
</alert>
<div class="spinner" ng-show="loading"></div>
<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <accordion close-others="oneAtATime">
                    <accordion-group>
                        <accordion-heading>
                            <span class="pull-right"> Total <%  totalItems %> items found.</span>
                            <span class="filter-result"> Filter  </span>
                            <i class="glyphicon filter-icon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="form-inline">
                            <div class="form-group m-r-10">
                                <input type="number" class="form-control" placeholder="Min Price" ng-model="filter.min_price" ng-blur="getFlats(filter)" />
                            </div>
                            <div class="form-group m-r-10">
                                <input type="number" class="form-control" placeholder="Max Price" ng-model="filter.max_price" ng-blur="getFlats(filter)" />
                            </div>
                            <div class="form-group m-r-10">
                                <input type="text" ng-model="filter.district" typeahead="district as district.name for district in dataFactory.district | filter:{name:$viewValue} |limitTo:8" ng-blur="getFlats(filter)" class="form-control" placeholder="District">
                            </div>
                            <div class="form-group m-r-10">
                                <input type="text" ng-model="filter.vdc" typeahead="address for address in getVdc($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" placeholder="City / VDC " ng-blur="getFlats(filter)">
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                                <!--                             <input type="text" class="form-control" placeholder="Town/Vdc" ng-blur="getFlats(filter)" /> -->
                            </div>
                            <div class="form-group m-r-10">
                                <input type="text" ng-model="filter.locality" typeahead="address for address in getLocality($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" placeholder="Locality" ng-blur="getFlats(filter)">
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                            <div class="form-group m-r-10">
                                <input type="number" class="form-control" placeholder="Bedrooms" ng-model="filter.no_bedrooms" ng-blur="getFlats(filter)" />
                            </div>
                            <div class="form-group m-r-10">
                                <input type="number" class="form-control" placeholder="Kitchen" ng-model="filter.no_kitchen" ng-blur="getFlats(filter)" />
                            </div>
                            <button type="button" class="btn btn-sm btn-primary m-r-5" ng-click="resetFlters(filter)">Reset</button>
                            <!-- <button type="submit" class="btn btn-sm btn-default">Register</button> -->
                        </form>
                    </accordion-group>
                </accordion>
                <div class="panel panel-default paper-shadow" data-z="0.5" ng-repeat="flat in flats">
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-left text-center">
                                <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                                    <span class="img icon-block height-130 bg-lightred"></span>
                                    <span class="overlay overlay-full padding-none icon-block bg-lightred">
                                    <span class="v-center">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    </span>
                                    <a ui-sref="website-courses.single" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-home"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <p>
                                    <a ui-sref="showFlat({flatId:flat.id})"><span class="flat-title"> <% flat.title  %></span></a>
                                    <small><span class="glyphicon glyphicon-time"></span> <span am-time-ago="flat.created_at"></span></small>
                                </p>
                                <p>
                                    <span class="label label-grey-200" ng-show="flat.no_bedrooms">
                                        <i class="fa fa-fw fa-columns"></i> <% flat.no_bedrooms %> सुत्नेकोठा
                                     </span>
                                    <span class="label label-grey-200">
                                     <i class="fa fa-fw fa-cutlery"></i><% flat.no_kitchen %> भान्साकोठा
                                    </span>
                                    <span class="label label-grey-200" ng-show="flat.no_hall!=0">
                                     <i class="fa fa-fw fa-coffee"></i> <% flat.no_hall %> बैठककोठा </span>
                                </p>
                                <p class="location">
                                    <% dataFactory.district[flat.district].name %>
                                        <span ng-hide="flat.vdc == dataFactory.district[flat.district].name "><% flat.vdc %>,</span>
                                        <span ng-show="flat.locality"> <% flat.locality %></span>
                                </p>
                                <p>
                                    <span class="price"> <% flat.price | currency : "रु. " : 0 %> </span> PER MONTH
                                </p>
                                <div class="btn-row">
                                    <pre ng-hide="true"><% flat.rating = ( flat.shortlists.length / 10 ) +1 %></pre>
                                    <rating class="yellow rating-star" ng-model="flat.rating " max="5" readonly="true" state-off="glyphicon-star" state-on="glyphicon-star"></rating>
                                    <a href="javascript:;" ng-click="report(flat.id)" class="right" tooltip-placement="top" tooltip="Report">
                                        <i class="fa fa-fw" ng-class="flat.reports.length!=0 ? 'fa-flag red':'fa-flag-o'"></i>
                                    </a>
                                    <a href="javascript:;" ng-click="shortlist(flat.id)" class="right" tooltip-placement="top" tooltip="Shortlist">
                                        <i class="fa fa-fw" ng-class="flat.shortlists.length!=0 ? 'fa-heart red':'fa-heart-o'"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page='itemsPerPage' ng-change="pageChanged()">
                </pagination>
                <pre>Page: <% currentPage %> / <% numPages %></pre>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">जिल्ला</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge pull-right"><% district.count %>+</span>
                                <a class="list-group-link" href="javascript:;" ng-click="searchFlats('district_id','')">सबै</a>
                            </li>
                            <li class="list-group-item" ng-repeat="district in districtsWithCount">
                                <span class="badge pull-right"><% district.count %>+</span>
                                <a class="list-group-link" href="javascript:;" ng-click="searchFlats('district_id',district.district)">
                                    <% dataFactory.district[district.district].name %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">शहर</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="city in cityWithCount">
                                <span class="badge pull-right"><% city.count %>+</span>
                                <a class="list-group-link" href="javascript:;" ng-click="searchFlats('vdc',city.vdc)">
                                    <% city.vdc %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="false">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Price</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group input-group margin-none">
                            <div class="row margin-none">
                                <div class="col-xs-6 padding-none">
                                    <input class="form-control" type="text" placeholder="Min .." />
                                </div>
                                <div class="col-xs-6 padding-none">
                                    <input class="form-control" type="text" placeholder="Max .." />
                                </div>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
