<div class="page-section">
    <!-- .panel -->
    <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
        <div class="panel-heading">
            <h4 class="text-headline">BHADAMA.COM</h4>
        </div>
        <div class="panel-body">
            <h2>Please Login to Contiue.</h2>
        </div>
        <hr class="margin-none" />
        <div class="panel-body text-center">
            <a href="/auth/login" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></a>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </div>
    <!-- // END .panel -->
</div>