<div class="clearfix">
    <ul class="pagination pagination-without-border pull-left">
        <li><a href="javascript:;">Total {{totalRecords}} records found.</a></li>
    </ul>
    <ul class="pagination pagination-without-border pull-right">
        <li ng-class="{disabled:noPrevious()}">
            <a href="javascript:;" ng-click="selectPrevious()">Previous</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active:isActive(page)}">
            <a href="javascript:;" ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:noNext()}">
            <a href="javascript:;" ng-click="selectNext()">Next</a>
        </li>
    </ul>
</div>